<div class="container-fluid">
  {{#if App.IS_ADMIN}}
    <div class="row-fluid">
      <div class="alert alert-info">
        Administrator
      </div>
    </div>
  {{/if}}
  <div class="row-fluid">
    <div class="span2">
      Sidebar
      {{outlet 'sidebar'}}
    </div>
    <div class="span10">
      <div id='app_container'>
        {{outlet}}
      </div>
    </div>
  </div>
</div>