<div>
  <h5>Business Day {{event_date}}</h5>
  {{#if content.business_day.isLoaded}}
    <ul class="unstyled">
      {{#each item in content.business_day.ts}}
        {{template 'time_slot'}}
      {{/each}}
    </ul>
  {{else}}
    <h5>Loading</h5>
  {{/if}}  
</div>
