<li class='timeslot'>
  <div {{bindAttr class = ":btn :btn-block item.canSchedule::disabled" }} {{action selectTimeSlot item}}>
    <p>Client Time: {{item.time_client}}</p>
    <p>Local Time: {{item.time_local}}</p>
  </div>
</li>